<form #updatePasswordForm="ngForm"
    (ngSubmit)="submitHandler(formData)">

    <div class="form-group">
        <label for="nameInput">Current Password</label>

        <input id="currentPasswordInput" type="password" name="currentPassword"
            class="form-control" placeholder="Current Password"
            [(ngModel)]="formData.currentPassword"
            required>
    </div>

    <div class="form-group">
        <label for="nameInput">New Password</label>

        <input id="newPasswordInput" type="password" name="newPassword"
            class="form-control" placeholder="New Password"
            [(ngModel)]="formData.newPassword"
            required>
    </div>

    <div class="form-group">
        <label for="nameInput">Confirm Password</label>

        <input id="confirmPasswordInput" type="password" name="confirmPassword"
            class="form-control" placeholder="Confirm Password"
            [(ngModel)]="formData.confirmPassword"
            required>
    </div>

    <div class="alert alert-danger" role="alert"
        *ngIf="errorMessage">{{errorMessage}}</div>

    <button class="btn btn-primary" type="submit"
        [disabled]="!updatePasswordForm.form.valid">Update Password</button>



</form>