<div class="jumbotron">
	<h1>angular2-TvTracker</h1>
	<h2>An Angular2/AngularFire2 example application.</h2>

	<hr/>

	<h2>Application Features</h2>
	<ul>
		<li>Angular 2.1</li>
		<li>Modular feature design</li>
		<li>Strongly typed models</li>
		<li>Authentications guards</li>
		<li>showAuth/hideAuth directives</li>
		<li>Application data preloading</li>
		<li>Heavy use of observables</li>
		<li>Notification System</li>
	</ul>

	<h2>3rd Party Libraries</h2>
	<ul>
		<li>angularfire2</li>
		<li>angular2-toaster</li>
		<li>ng2-bootstrap</li>
	</ul>

	<h2>Firebase Features</h2>
	<ul>
		<li>AngularFire2</li>
		<li>AngularFire2 authentication</li>
		<li>Data paging via queries</li>
		<li>Registration</li>
		<li>Profile/email updates</li>
	</ul>

	<h4>All TV show data has been provided by the <a href="http://tvmaze.com/api">TVmaze</a> API.</h4>

	<hr/>

	<a class="btn btn-primary" routerLink="sign-up" hideAuth>Sign Up Now</a>
</div>